*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body
{
    position: relative;
    display: flex;
    justify-content: start;
    min-height: 100vh;
    border: 1px solid;
}


.text
{
    position:absolute;
    width: 50%; 
    /* height: 100vh; */
    border: 10px solid;

}

.text h2{
    position: relative;
    animation: animate 2s infinite;
    font-size: 3rem;
}

@keyframes animate
{
    0%
    {
        transform: translate(0);
    }
    80%
    {
        color: transparent;  
        -webkit-text-stroke: 2px #03a9f4;
    }
    100%
    {
        color: transparent;  
        -webkit-text-stroke: 2px #03a9f4;
        transform: translate(400px);
    }
    
}



/* .text h2:nth-child(1)
{
    color: transparent;  
    -webkit-text-stroke: 2px #03a9f4;
} */

.zone
{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100vh;
    border: 10px solid red;
}